import { {{componentCase name}} } from '@/vibes/soul/{{type}}/{{hyphenCase name}}';

export default function Preview() {
  return (
    <div className="flex h-screen items-center justify-center p-10">
      <{{componentCase name}}/>
    </div>
  );
}
