@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./shiki.css');
@import url('./prose.css');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --code-border: 224 71.4% 4.1% / 0.1;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --code-border: 210 20% 98% / 0.1;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply text-black;
  }
  body {
    @apply bg-background;
  }
  .pattern-shadow {
    @apply relative;
  }
  .pattern-shadow-sm:after {
    @apply left-[-6px] top-[6px];
  }
  .pattern-shadow-lg:after {
    @apply left-[-8px] top-[8px];
  }
  .pattern-shadow:after {
    @apply absolute -z-10 h-full w-full rounded-[inherit] content-[''] [background:linear-gradient(135deg,_black_20%,_transparent_20%,_transparent_50%,black_50%,_black_70%,_transparent_70%,_transparent_100%)_0_0/_5px_5px];
  }
}
