@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./shiki.css');

@layer base {
  :root {
    --docs-background: 0 0% 100%;
    --docs-foreground: 0 0% 0%;

    --docs-card: 0 0% 100%;
    --docs-card-foreground: 224 71.4% 4.1%;

    --docs-popover: 0 0% 100%;
    --docs-popover-foreground: 224 71.4% 4.1%;

    --docs-primary: 220.9 39.3% 11%;
    --docs-primary-foreground: 210 20% 98%;

    --docs-secondary: 220 14.3% 95.9%;
    --docs-secondary-foreground: 220.9 39.3% 11%;

    --docs-muted: 220 14.3% 95.9%;
    --docs-muted-foreground: 220 8.9% 46.1%;

    --docs-accent: 220 14.3% 95.9%;
    --docs-accent-foreground: 220.9 39.3% 11%;

    --docs-destructive: 0 84.2% 60.2%;
    --docs-destructive-foreground: 210 20% 98%;

    --docs-code-border: 224 71.4% 4.1% / 0.1;

    --docs-border: 0 0% 0%;
    --docs-input: 0 0% 100%;
    --docs-ring: 224 71.4% 4.1%;

    --docs-radius: 0.5rem;
  }

  .dark {
    --docs-background: 0 0% 0%;
    --docs-foreground: 0 0% 100%;

    --docs-card: 224 71.4% 4.1%;
    --docs-card-foreground: 210 20% 98%;

    --docs-popover: 224 71.4% 4.1%;
    --docs-popover-foreground: 210 20% 98%;

    --docs-primary: 210 20% 98%;
    --docs-primary-foreground: 220.9 39.3% 11%;

    --docs-secondary: 215 27.9% 16.9%;
    --docs-secondary-foreground: 210 20% 98%;

    --docs-muted: 215 27.9% 16.9%;
    --docs-muted-foreground: 217.9 10.6% 64.9%;

    --docs-accent: 215 27.9% 16.9%;
    --docs-accent-foreground: 210 20% 98%;

    --docs-destructive: 0 62.8% 30.6%;
    --docs-destructive-foreground: 210 20% 98%;

    --docs-code-border: 210 20% 98% / 0.1;

    --docs-border: 0 0% 100%;
    --docs-input: 0 0% 0%;
    --docs-ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply antialiased;
  }
  body {
    @apply bg-docs-background;
  }
  .pattern-shadow {
    @apply relative;
  }
  .pattern-shadow-sm:after {
    @apply -left-1 top-1;
  }
  .pattern-shadow-md:after {
    @apply -left-1.5 top-1.5;
  }
  .pattern-shadow-lg:after {
    @apply -left-2 top-2;
  }
  .pattern-shadow:after {
    @apply absolute -z-10 h-full w-full rounded-[inherit] content-[''];
    background: linear-gradient(
        135deg,
        hsl(var(--docs-foreground)) 0%,
        transparent 0%,
        transparent 30%,
        hsl(var(--docs-foreground)) 30%,
        hsl(var(--docs-foreground)) 50%,
        transparent 50%,
        transparent 80%,
        hsl(var(--docs-foreground)) 80%,
        hsl(var(--docs-foreground)) 100%
      )
      0 0/ 5px 5px;
  }
  .dark .pattern-shadow:after {
    @apply opacity-70;
  }
  .pattern-shadow-hover:after {
    @apply animate-scroll;
  }
}
