/* Creating this file instead of using tailwind.config.ts to have more control over specificity */

.vibes-prose code:not(pre code) {
  @apply inline-block rounded-md border border-foreground/10 bg-muted font-normal text-foreground;
  padding: 0.12em 0.25em;
  line-height: 1.2;
  margin: 0;
}

.vibes-prose code:not(pre code)::before,
.vibes-prose code:not(pre code)::after {
  content: '';
}

.vibes-prose pre {
  padding: 0;
}

.vibes-prose pre code {
  @apply block px-5 py-5;
  font-size: 13px;
  line-height: 20px;
}
