@config '../../../vibes/tailwind.config.ts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
  html {
    @apply bg-background font-body text-foreground;
  }
  body {
    animation: fadeIn 250ms forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
