@config '../../../vibes/tailwind.config.ts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --carousel-focus: hsl(var(--primary));
    --carousel-light-slider: hsl(var(--foreground));
    --carousel-light-arrow: hsl(var(--foreground));
    --carousel-dark-slider: hsl(var(--background));
    --carousel-dark-arrow: hsl(var(--background));
  }
  * {
    @apply antialiased;
  }
  html {
    @apply bg-background font-body text-foreground;
  }
  body {
    animation: fadeIn 250ms forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
