@config '../../../vibes/tailwind.config.ts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --button-font-family: var(--font-family-body);

    --button-primary-background: hsl(var(--primary));
    --button-primary-background-hover: color-mix(in oklab, hsl(var(--primary)), white 75%);
    --button-primary-foreground: hsl(var(--foreground));
    --button-primary-foreground-hover: hsl(var(--foreground));
    --button-primary-border: hsl(var(--primary));
    --button-primary-focus: hsl(var(--foreground));

    --button-secondary-background: hsl(var(--foreground));
    --button-secondary-background-hover: hsl(var(--background));
    --button-secondary-foreground: hsl(var(--background));
    --button-secondary-foreground-hover: hsl(var(--foreground));
    --button-secondary-border: hsl(var(--foreground));
    --button-secondary-focus: hsl(var(--foreground));

    --button-tertiary-background: hsl(var(--background));
    --button-tertiary-background-hover: hsl(var(--contrast-100));
    --button-tertiary-foreground: hsl(var(--foreground));
    --button-tertiary-foreground-hover: hsl(var(--foreground));
    --button-tertiary-border: hsl(var(--contrast-200));
    --button-tertiary-focus: hsl(var(--foreground));

    --button-ghost-background: transparent;
    --button-ghost-background-hover: hsl(var(--foreground) / 5%);
    --button-ghost-foreground: hsl(var(--foreground));
    --button-ghost-foreground-hover: hsl(var(--foreground));
    --button-ghost-border: transparent;
    --button-ghost-focus: hsl(var(--foreground));

    --accordion-light-title-text: hsl(var(--contrast-400));
    --accordion-light-title-text-hover: hsl(var(--foreground));
    --accordion-light-title-icon: hsl(var(--contrast-500));
    --accordion-light-title-icon-hover: hsl(var(--foreground));
    --accordion-light-content-text: hsl(var(--foreground));

    --accordion-dark-title-text: hsl(var(--contrast-200));
    --accordion-dark-title-text-hover: hsl(var(--background));
    --accordion-dark-title-icon: hsl(var(--contrast-200));
    --accordion-dark-title-icon-hover: hsl(var(--background));
    --accordion-dark-content-text: hsl(var(--background));

    --accordion-title-font-family: var(--font-family-mono);
    --accordion-content-font-family: var(--font-family-body);

    --card-focus: hsl(var(--primary));
    --card-border-radius: 1rem;
    --card-light-text: hsl(var(--foreground));
    --card-light-icon: hsl(var(--foreground));
    --card-light-background: hsl(var(--contrast-100));
    --card-dark-text: hsl(var(--background));
    --card-dark-icon: hsl(var(--background));
    --card-dark-background: hsl(var(--contrast-500));

    --slideshow-focus: hsl(var(--primary));
    --slideshow-mask: hsl(var(--foreground) / 80%);
    --slideshow-background: color-mix(in oklab, hsl(var(--primary)), black 75%);
    --slideshow-title: hsl(var(--background));
    --slideshow-title-font-family: var(--font-family-heading);
    --slideshow-description: hsl(var(--background) / 80%);
    --slideshow-description-font-family: var(--font-family-body);
    --slideshow-pagination: hsl(var(--background));
    --slideshow-play-border: hsl(var(--contrast-300) / 50%);
    --slideshow-play-border-hover: hsl(var(--contrast-300) / 80%);
    --slideshow-play-text: hsl(var(--background));
    --slideshow-number: hsl(var(--background));
    --slideshow-number-font-family: var(--font-family-mono);
  }
  * {
    @apply antialiased;
  }
  html {
    @apply bg-background font-body text-foreground;
  }
  body {
    animation: fadeIn 250ms forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
