.animated-link {
  text-decoration: none;
  color: inherit;
  background: linear-gradient(0deg, hsl(var(--primary)), hsl(var(--primary))) no-repeat right bottom /
    0 var(--bg-h);
  transition: background-size 450ms;
  --bg-h: 100%;

  &:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
}

.animated-underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}
