@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./shiki.css');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --primary: 210 100% 50%;
    --accent: 210 100% 70%;

    --contrast-100: 210 32% 97%;
    --contrast-200: 216 21% 91%;
    --contrast-300: 210 15% 73%;
    --contrast-400: 210 10% 53%;
    --contrast-500: 208 11% 25%;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.875rem;

    --line-height-xs: 1.125rem;
    --line-height-sm: 1.25rem;
    --line-height-base: 1.5rem;
    --line-height-lg: 1.75rem;
    --line-height-xl: 1.75rem;
    --line-height-2xl: 2.25rem;

    --letter-spacing-xs: 0em;
    --letter-spacing-sm: 0em;
    --letter-spacing-base: 0em;
    --letter-spacing-lg: 0em;
    --letter-spacing-xl: -0.01em;
    --letter-spacing-2xl: -0.02em;

    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 30% 96%;

    --contrast-100: 208 20% 15%;
    --contrast-200: 208 11% 25%;
    --contrast-300: 210 10% 53%;
    --contrast-400: 210 15% 73%;
    --contrast-500: 216 23% 91%;
  }
}

@layer base {
  * {
    @apply antialiased;
  }
  body {
    @apply bg-background;
  }
  .pattern-shadow {
    @apply relative;
  }
  .pattern-shadow-sm:after {
    @apply -left-[3px] top-[3px];
  }
  .pattern-shadow-md:after {
    @apply -left-1.5 top-1.5;
  }
  .pattern-shadow-lg:after {
    @apply -left-2 top-2;
  }
  .pattern-shadow:after {
    @apply absolute -z-10 h-full w-full rounded-[inherit] content-[''];
    background: linear-gradient(
        135deg,
        hsl(var(--foreground)) 0%,
        transparent 0%,
        transparent 30%,
        hsl(var(--foreground)) 30%,
        hsl(var(--foreground)) 50%,
        transparent 50%,
        transparent 80%,
        hsl(var(--foreground)) 80%,
        hsl(var(--foreground)) 100%
      )
      0 0/ 5px 5px;
  }
  .dark .pattern-shadow:after {
    @apply opacity-70;
  }
  .pattern-shadow-hover:after {
    @apply animate-scroll [animation-play-state:paused];
  }
  .pattern-shadow-hover:hover:after {
    @apply [animation-play-state:running];
  }
  .marching-ants {
    --length: 6px;
    --interval: 9px;
    background: linear-gradient(white, white),
      repeating-linear-gradient(
        to right,
        #000,
        #000 var(--length),
        #fff var(--length),
        #fff var(--interval)
      ),
      repeating-linear-gradient(
        to bottom,
        #000,
        #000 var(--length),
        #fff var(--length),
        #fff var(--interval)
      ),
      repeating-linear-gradient(
        to left,
        #000,
        #000 var(--length),
        #fff var(--length),
        #fff var(--interval)
      ),
      repeating-linear-gradient(
        to top,
        #000,
        #000 var(--length),
        #fff var(--length),
        #fff var(--interval)
      );
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size:
      100% 100%,
      200% 1px,
      1px 200%,
      200% 1px,
      1px 200%;
    background-position:
      0 0,
      100% -1px,
      calc(100% + 1px) 100%,
      0 calc(100% + 1px),
      -1px 0;
    @apply animate-marching;
  }
  @media (hover: none) {
    .\@touch\:hide {
      display: none;
    }
  }
}
